{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
  {{ user.name }}
{% endblock title %}
{% block content %}
  <h1>Edit Course :: {{ course.course_code }}</h1>
  <form class="form-horizontal"
        method="post"
        action="{% url 'courses:course-update' course.id %}">
    {% csrf_token %}
    {{ form.media }}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </div>
  </form>
{% endblock content %}
