{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
  {% translate 'New Course' %}
{% endblock title %}
{% block content %}
  <h1>{% translate 'New Course' %}</h1>
  <form class="form-horizontal"
        method="post"
        action="{% url 'courses:course-add' %}">
    {% csrf_token %}
    {{ form.media }}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">{% translate 'Submit' %}</button>
      </div>
    </div>
  </form>
{% endblock content %}
