{% extends "base.html" %}
{% load my_tags %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="row my-5">
    <div class="col-md-9">
      <h2>Courses</h2>
<div class="list-group">
          {% for course in object_list %}
            <a href="{% url 'courses:course-detail' course.id %}" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <div><strong>{{ course.course_code }}</strong> <span class="text-secondary">{{ course.course_name_en }}</span></div>
      <small><span class="badge bg-secondary rounded-pill">{{ course.course_reviews.all|length }} review</span></small>
    </div>
    <span class="text-secondary"><small>{{ course.course_name_cn }}</small></span>
  </a>
          {% endfor %}
</div>
      {% if is_paginated %}
        <div class="mt-3">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
              <li class="page-item"><a class="page-link" href="?{% param_replace page=1 %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                        d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                  <path fill-rule="evenodd"
                        d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                </svg>
              </a></li>
              {% if page_obj.previous_page_number != 1 %}
                <li class="page-item"><a class="page-link"
                                         href="?{% param_replace page=page_obj.previous_page_number %}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                  </svg>
                </a>
                </li>
              {% endif %}
            {% endif %}
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="#">Page {{ page_obj.number }} of {{ paginator.num_pages }}</a>
            </li>
            {% if page_obj.has_next %}
              {% if page_obj.next_page_number != paginator.num_pages %}
                <li class="page-item"><a class="page-link" href="?{% param_replace page=page_obj.next_page_number %}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                  </svg>
                </a>
                </li>
              {% endif %}
              <li class="page-item"><a class="page-link" href="?{% param_replace page=paginator.num_pages %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                        d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708"/>
                  <path fill-rule="evenodd"
                        d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708"/>
                </svg>
              </a>
              </li>
            {% endif %}
          </ul>
        </nav>
        </div>
        <p>Course {{ page_obj.start_index }}&mdash;{{ page_obj.end_index }}</p>
      {% endif %}

    </div>
    <div class="col-md-3">
      <h2>Filter</h2>
      <form class="form-horizontal" action="" method="get">
        {{ filter.form|crispy }}
        <div class="control-group">
          <div class="controls">
            <input type="submit" class="btn btn-primary"/>
            <a class="btn btn-outline-secondary" href="{%  url 'courses:courses' %}">Clear filters</a>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
